<div ng-controller="exampleController">
	<md-content>
		<h1>I hope this helps you, dear developer.</h1>
		<h2>Seeing this means you are ready.</h2>
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">This tests that material is injected.</span>
				</md-card-title-text>
				<md-card-content>
					<a href="https://material.angularjs.org/latest/" target="_blank">
						Click this to check the docs for angular-material.
					</a>
				</md-card-content>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<md-button>Action button test</md-button>
			</md-card-actions>
		</md-card>
	</md-content>
</div>
