<!DOCTYPE html>
<html ng-app="<%= app_name %>">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= app_name %></title>
		<!-- STYLES-->
	  <link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- ANGULAR -->
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<!-- ANGULARFIRE -->
		<script src="../bower_components/firebase/firebase.js"></script>
		<script src="../bower_components/angularfire/dist/angularfire.min.js"></script>
		<!-- CONFIG -->
	  <script src="app.js"></script>
    <!-- DIRECTIVES -->
		<!-- FACTORIES and SERVICES -->
		<!-- CONTROLLERS -->
		<script src="./states/example/exampleController.js"></script>
	</head>
	<body>
		<div ui-view></div>
	</body>
</html>
